<template>
  <div class="<%= lineName %>">
    <h1>
      <%= name %>
    </h1>
  </div>
</template>

<script>
  export default {
    name: '<%= name %>',
    data() {
      return {

      }
    },
    methods: {},
  }
</script>

<style lang='scss' scoped>
  .<%=lineName %> {}
</style>